<div #childSection class="mb-4 scroll-margin-top">
  <!-- <h3>Type de produit</h3> -->
  <p class="text-primary text-wrap">Apercu des achats effectués par vos clients</p>
</div>

<!-- <div class="row liquid-glass gy-3">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <app-achat-card
      [achat]="achatTest"
    >
    </app-achat-card>
  </div>

  <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <app-achat-card
      [achat]="achatValideTest"
      [showValidateButton]="true"
      (validate)="validerLivraison($event)"
    >
    </app-achat-card>
  </div>
</div> -->

<div class="row liquid-glass mb-4">
  <div class="col-12">
    <h4>Achat en attente de livraison:</h4>
    <hr>

    <div class="row gy-3">
      @if (achatsEnAttente().length === 0) {
        <app-empty-grid-list [label]="'Aucun achat en attente'" />
      }

      @for (achat of achatsEnAttente(); track achat._id; let i = $index) {
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" data-aos="fade-left" [attr.data-aos-delay]="(i+1)*100">
          <app-achat-card
            [achat]="achat"
            [commercant]="true"
            [showValidateButton]="achat.typeAchat.type === TypeAchat.Livrer"
            (validate)="validerLivraison($event)"
          >
          </app-achat-card>
        </div>
      }
    </div>
  </div>

  <div class="col-12 d-flex justify-content-end align-items-center">
    <app-pagination-component
      [pagination]="achatsEnAttentePagination"
    ></app-pagination-component>
  </div>
</div>

<div class="row liquid-glass">
  <div class="col-12">
    <h4>Historique d'achat:</h4>
    <hr>

    <div class="row gy-3">
      @if (historiqueAchats().length === 0) {
        <app-empty-grid-list [label]="'Aucun achat'" />
      }

      @for (achat of historiqueAchats(); track achat._id; let i = $index) {
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4" data-aos="fade-left" [attr.data-aos-delay]="(i+1)*100">
          <app-achat-card
            [achat]="achat"
            [commercant]="true"
          >
          </app-achat-card>
        </div>
      }
    </div>
  </div>

  <div class="col-12 d-flex justify-content-end align-items-center">
    <app-pagination-component
      [pagination]="historiquePagination"
    ></app-pagination-component>
  </div>
</div>
