<div class="dialog-card glass p-3">
  <p class="dialog-title mb-3">Entrer une durée</p>
  <div class="d-flex align-items-center">
    <input type="number" [(ngModel)]="jour" class="form-control my-3"/>
    <input type="number" [(ngModel)]="heure" class="form-control my-3"/>
    <input type="number" [(ngModel)]="minute" class="form-control my-3"/>
    <input type="number" [(ngModel)]="seconde" class="form-control my-3"/>
  </div>

  <div class="d-flex justify-content-end">
    <button class="btn-glass me-2" (click)="close(null)">Annuler</button>
    <button class="btn-glass-secondary" (click)="submit()">Valider</button>
  </div>
</div>