<div class="dialog-card glass p-3" [formGroup]="form">
  <p class="dialog-title mb-3">Entrer une durée</p>
  <div class="row">
    <div class="col-4">
      <label class="form-label text-muted small">Jour</label>
      <input class="form-control" type="number" formControlName="jour" />
      @if (form.get('jour')?.invalid && form.get('jour')?.touched) {
        <div class="text-danger small mt-1">
          Le jour doit être ≥ 0
        </div>
      }
    </div>

    <div class="col-4">
      <label class="form-label text-muted small">Heure</label>
      <input class="form-control" type="number" formControlName="heure" />
      @if (form.get('heure')?.invalid && form.get('heure')?.touched) {
        <div class="text-danger small mt-1">
          0 à 23 uniquement
        </div>
      }
    </div>

    <div class="col-4">
      <label class="form-label text-muted small">Minute</label>
      <input class="form-control" type="number" formControlName="minute" />
      @if (form.get('minute')?.invalid && form.get('minute')?.touched) {
        <div class="text-danger small mt-1">
          0 à 59 uniquement
        </div>
      }
    </div>
  </div>

  <!-- <div class="text-center mt-3">
    <div class="text-muted small">Durée calculée</div>
    <div class="fw-bold fs-4 text-primary">
      {{ formattedDuration }}
    </div>
  </div> -->

  <div class="d-flex justify-content-end mt-3">
    <button
      class="btn-glass me-2"
      (click)="submit()"
      [disabled]="form.invalid">
      Valider
    </button>

    <button class="btn-glass-secondary" (click)="close(null)">
      Annuler
    </button>
  </div>

</div>