<div class="contact section">
  <div class="contact-form p-2 p-md-5 p-sm-4" data-aos="fade-up" data-aos-delay="300">
    <h3>Login</h3>
    <p>Bonjour ! Connectez-vous pour commencer</p>
    
    <form action="" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
      <div class="row gy-3">

        <div class="col-md-6">
          <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
        </div>

        <div class="col-md-6 ">
          <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
        </div>

        <div class="col-12">
          <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
        </div>

        <div class="col-12 mt-4 text-center">
          <div class="loading">Loading</div>
          <div class="error-message">Error message</div>
          <div class="sent-message">Your message has been sent. Thank you!</div>

          <button type="submit" class="btn">Send Message</button>
        </div>

      </div>
    </form>
  </div>
</div>