@use "../../../styles/shared/variables" as v;
@use "sass:color";

.profil-bar {
  // border-top: 1.5px solid lightgrey;
  border-bottom: 1.5px solid lightgrey;
  width: 100%;
  height: fit-content;
  padding: 1rem 0;

  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.profil-bar-item {
  background-color: v.$accent-color;
  color: v.$contrast-color;
  border: none;
  border-radius: 10px;
  width: 60px;
  aspect-ratio: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  i {
    font-size: 2rem;
    font-weight: bold;
  }

  &:hover {
    background-color: color.scale($color: v.$accent-color, $lightness: -30%);
  }
}

.profile-name {
  font-weight: 700;
}

.user-info {
  border: 1px solid transparent;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: start;

  i {
    color: v.$accent-color;
    font-size: larger;
  }
}