<!-- floating overlay -->
<div class="floating-container">
  <div class="floating-card">
    <div class="contact section">
      <div class="contact-form p-2 p-md-5 p-sm-4" data-aos="fade-right" data-aos-delay="300">
        <div class="position-absolute top-0 start-0 w-100 d-flex justify-content-end pt-2 pe-3">
          <a (click)="location.back()">
            <i class="bi bi-arrow-left fs-3"></i>
          </a>
        </div>
        
        <h3>Inscription</h3>
        <p class="mb-4">Choisissez votre type de compte</p>

        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6 mb-4 mb-sm-0">
              <div class="choice" (click)="registerAs(UserRole.Commercant)">
                <i class="bi bi-shop"></i>
                <p>Commercant</p>
              </div>
            </div>
            <div class="col-sm-6 mb-4 mb-sm-0">
              <div class="choice" (click)="registerAs(UserRole.Acheteur)">
                <i class="bi bi-person"></i>
                <p>Acheteur</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>