// Orange Sunset Sky
/* 
  Jet Black #2d3142
  Blue Slate #4f5d75
  Silver #bfc0c0
  White #ffffff
  Coral Glow #ef8354
*/

$background-color: #ffffff;
$default-color: #2d3142;
$heading-color: #ef8354;
$accent-color: #4f5d75;
$surface-color: #ffffff;
$contrast-color: #ffffff;

$nav-color: #2d3142;
$nav-hover-color: #ef8354;
$nav-mobile-background-color: #ffffff;
$nav-dropdown-background-color: #ffffff;
$nav-dropdown-color: #2d3142;
$nav-dropdown-hover-color: #ef8354;

$default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$heading-font: "Nunito",  sans-serif;
$nav-font: "Inter",  sans-serif;